<a href="https://colab.research.google.com/github/Aldogtz98/Code_Challenge_Student/blob/main/Copia_de_Code_Challenge_Student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Bootcamp Selection Challenge
#####In this challenge you will calculate various KPIs using a car based dataset, each question will have a single correct answer that will be evaluated through automated unit testing. Use the dictionary provided below to fill in your answers, each question will state the format required for the answer and examples are provided so you know how properly fill the answer dictionary. 
#####**Use the dataset "as is" and do not perform any data cleaning or modify it in any way, doing so could make you answer all your questions incorrectly. Do not modify the structure of the answer dictionary.**

#####When you finish this challenge please upload both your notebook and your answer dictionary in pickle format to a public github repository submit their URL to the [google form](https://forms.gle/wWysZEMkoZsjB11Y7) that was provided to you.

##### Some unit tests are provided at the end of this notebook to help you verify your answers are in the correct format, however they will not test everything.

In [245]:
#Use this dictionary to store your answers in the correct format in the cells below , do not modify the keys
answer_dict =  {"Q1" : 392.7417,
                "Q2" : [['Chevrolet', 3643], ['Ford', 2946], ['Dodge', 2360], ['GMC', 2347], ['Toyota', 1836]],
                "Q3" : ['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas','Gasoline or propane', 'Midgrade', 'Premium','Premium Gas or Electricity', 'Premium and Electricity',"Premium or E85", 'Regular', 'Regular Gas and Electricity','Regular Gas or Electricity'],
                "Q4" : [['1-Ton Truck 2WD', 1985, -0.4283009048170594],
 ['1-Ton Truck 2WD', 1985, -0.4283009048170594],
 ['1-Ton Truck 2WD', 1986, -0.4283009048170594],
 ['1-Ton Truck 2WD', 1986, -0.733821019915985],
 ['1-Ton Truck 2WD', 1987, -0.4283009048170594],
 ['1-Ton Truck 2WD', 1987, -0.733821019915985],
 ['1-Ton Truck 2WD', 1988, -0.25262683863517804],
 ['1-Ton Truck 2WD', 1988, 0.15727931578921378],
 ['1-Ton Truck 2WD', 1989, -0.058460765486781426]],
                "Q5" :[[1986.0, 26.0, 0.0],
 [1987.0, 26.0, 0.0],
 [1988.0, 25.0, -1.0],
 [1989.0, 25.0, 0.0],
 [1999.0, 24.0, -1.0],
 [2000.0, 24.0, 0.0],
 [2001.0, 24.0, 0.0],
 [2002.0, 24.0, 0.0],
 [2003.0, 24.0, 0.0],
 [2004.0, 24.0, 0.0],
 [2005.0, 24.0, 0.0],
 [2006.0, 24.0, 0.0],
 [2010.0, 25.0, 1.0],
 [2011.0, 26.0, 1.0],
 [2012.0, 26.0, 0.0],
 [2013.0, 26.0, 0.0],
 [2015.0, 30.0, 4.0],
 [2016.0, 30.0, 0.0],
 [2017.0, 29.0, -1.0]] ,
                "Q6" : [["Toyota",133.0, 112.0, 200.0, 249.0, 130.0],
 ["Ford",158.0, 129.0, 261.025641025641, 254.0, 167.67924528301887],
 ["Volkswagen",170.0, 209.0, 267.8947368421053, 254.5, 170.90384615384616],
 [" Nissan",171.0, 210.0, 271.0, 255.0, 183.0],
 ["Honda",177.74, 211.0, 275.1351351351352, 257.0, 188.0]]
,
                "Q7" : [[('1984 - 1988'), 19.230849764439014],
 [('1989 - 1993'), 18.991274313761135],
 [('1994 - 1998'), 19.225285171102662],
 [('1999 - 2003'), 19.160808435852374],
 [('2004 - 2008'), 19.07731595632265],
 [('2009 - 2013'), 21.006466270534776],
 [('2014 - 2018'), 23.064912280701755]]}

##Reading the dataset
#####An example is provided to read the dataset using [pandas](https://pandas.pydata.org/), while we reccommend using pandas you may use any python library to solve this challenge.

In [177]:
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

In [ ]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [ ]:
df.info()

##Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?

##### Format: A floating number
##### Example answer:
 `11.547`

In [ ]:
########## Q1
#Your code here

#Example answer:
#answer_dict["Q1"] =  11.547

x = df.loc[df.Make == "Volkswagen","CO2 Emission Grams/Mile"].mean()
print(x)

answer_dict["Q1"] =  392.7417

392.7417210857633

NameError: ignored

##Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.
##### **NOTE:** Consider only the name of the models and their brand, that is use only the Make and Model columns
##### Format: A 5X2 list with each row being the name of the brand followed by the unique number of models, in descending order.
#####Hint: You can use the pandas [df.values.tolist()](https://pandas.pydata.org/docs/reference/api/pandas.Series.tolist.html) function to format your answer.

##### Example answer: 
`[["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]`

In [ ]:
########## Q2
#Your code here

#Example answer:
#answer_dict["Q2"] =  [["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]] 


Modelos_coche =list(df.Make.unique())
lista1 = list()
lista2 =list() 
for row in Modelos_coche:
  a = df.loc[df.Make == row,"Model"].count()
  lista1.append(a)
  lista2.append(row)
  diccionario = dict(zip(lista2,lista1))
diccionario = dict(sorted(diccionario.items(),key=lambda x:x[1],reverse = True))
print(diccionario) 

answer_dict["Q2"] =[['Chevrolet', 3643], ['Ford', 2946], ['Dodge', 2360], ['GMC', 2347], ['Toyota', 1836]]

{'Chevrolet': 3643, 'Ford': 2946, 'Dodge': 2360, 'GMC': 2347, 'Toyota': 1836, 'BMW': 1677, 'Mercedes-Benz': 1284, 'Nissan': 1253, 'Volkswagen': 1047, 'Mitsubishi': 950, 'Mazda': 915, 'Audi': 890, 'Porsche': 862, 'Honda': 836, 'Jeep': 829, 'Pontiac': 784, 'Subaru': 781, 'Volvo': 717, 'Hyundai': 662, 'Chrysler': 641, 'Buick': 537, 'Mercury': 532, 'Suzuki': 512, 'Cadillac': 508, 'Kia': 493, 'Plymouth': 456, 'Saab': 410, 'Isuzu': 409, 'Lexus': 397, 'Oldsmobile': 376, 'Infiniti': 345, 'Jaguar': 343, 'MINI': 320, 'Acura': 302, 'Saturn': 278, 'Lincoln': 273, 'Ferrari': 208, 'Rolls-Royce': 160, 'Eagle': 156, 'Geo': 144, 'Land Rover': 142, 'Aston Martin': 133, 'Bentley': 116, 'Maserati': 111, 'Lamborghini': 104, 'Scion': 83, 'Peugeot': 74, 'Daewoo': 67, 'Ram': 57, 'Lotus': 53, 'Roush Performance': 53, 'Fiat': 43, 'Alfa Romeo': 41, 'J.K. Motors': 36, 'Renault': 33, 'Wallace Environmental': 32, 'Maybach': 31, 'American Motors Corporation': 22, 'smart': 20, 'Hummer': 19, 'Daihatsu': 17, 'CX Automotive': 16, 'Federal Coach': 14, 'Merkur': 14, 'Import Trade Services': 13, 'McLaren Automotive': 13, 'Spyker': 13, 'Sterling': 12, 'Bugatti': 8, 'Yugo': 8, 'Genesis': 7, 'Mcevoy Motors': 6, 'Tecstar, LP': 6, 'Bertone': 5, 'Saleen': 5, 'VPG': 5, 'AM General': 4, 'Autokraft Limited': 4, 'Grumman Olson': 4, 'Panther Car Company Limited': 4, 'Saleen Performance': 4, 'TVR Engineering Ltd': 4, 'Texas Coach Company': 4, 'Vector': 4, 'BMW Alpina': 3, 'Bitter Gmbh and Co. Kg': 3, 'Consulier Industries Inc': 3, 'Dabryan Coach Builders Inc': 3, 'Dacia': 3, 'Evans Automobiles': 3, 'Morgan': 3, 'Bill Dovell Motor Car Company': 2, 'CCC Engineering': 2, 'Laforza Automobile Inc': 2, 'Mobility Ventures LLC': 2, 'PAS Inc - GMC': 2, 'PAS, Inc': 2, 'Pagani': 2, 'Pininfarina': 2, 'Quantum Technologies': 2, 'Red Shift Ltd.': 2, 'Ruf Automobile Gmbh': 2, 'SRT': 2, 'ASC Incorporated': 1, 'Aurora Cars Ltd': 1, 'E. P. Dutton, Inc.': 1, 'Environmental Rsch and Devp Corp': 1, 'Excalibur Autos': 1, 'Fisker': 1, 'General Motors': 1, 'Goldacre': 1, 'Grumman Allied Industries': 1, 'Import Foreign Auto Sales Inc': 1, 'Isis Imports Ltd': 1, 'JBA Motorcars, Inc.': 1, 'Lambda Control Systems': 1, 'London Coach Co Inc': 1, 'London Taxi': 1, 'Mahindra': 1, 'Panos': 1, 'Panoz Auto-Development': 1, 'Qvale': 1, 'S and S Coach Company  E.p. Dutton': 1, 'Shelby': 1, 'Superior Coaches Div E.p. Dutton': 1, 'Vixen Motor Company': 1, 'Volga Associated Automobile': 1}

##Q3. What are all the different types of fuels in the dataset sorted alphabetically?
##### Format: A list of strings sorted alphabetically.
##### Example Answer: 
`['Regular',
 'Premium']`

In [ ]:
########## Q3
#Your code here

#Example answer:
#answer_dict["Q3"] =  ['Regular', 'Premium'] 

a = df.sort_values("Fuel Type",ascending=True)
a["Fuel Type"].unique()

answer_dict["Q3"] = ['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas',
       'Gasoline or propane', 'Midgrade', 'Premium',
       'Premium Gas or Electricity', 'Premium and Electricity',
       'Premium or E85', 'Regular', 'Regular Gas and Electricity',
       'Regular Gas or Electricity']

array(['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas',
       'Gasoline or propane', 'Midgrade', 'Premium',
       'Premium Gas or Electricity', 'Premium and Electricity',
       'Premium or E85', 'Regular', 'Regular Gas and Electricity',
       'Regular Gas or Electricity'], dtype=object)

##Q4. Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. Show the car Model, Year and their Fuel Barrels/Year in standard deviation units([Z-score](https://fredclavel.org/2019/03/18/basics-standardization-and-the-z-score/)) **sorted** in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order **BUT** without modifying the negative values (see example).

##### Format: A 9X3 list with each row containing the Model, Year and Fuel Barrels/Year in standard deviations units

##### Example answer: 
```
[['DJ Po Vehicle 2WD', 2004, -6.407431084026927],
 ['FJ8c Post Office', 2003, -6.407431084026927],
 ['Post Office DJ5 2WD', 2005, -6.391684618442447],
 ['Sierra 2500 Hd 2WD', 2002, -6.391684618442447],
 ['Camry CNG', 2012, 2.677633075759575],
 ['Sierra 1500 4WD', 2005, 2.677633075759575],
 ['Sierra 1500 4WD', 2001, 2.677633075759575],
 ['V15 Suburban 4WD', 1988, 2.677633075759575],
 ['V15 Suburban 4WD', 1987, 2.677633075759575]]
```
#####Note that while the list is sorted by the Fuel Barrels/Year in absolute terms and in standard deviation units, the values are not modified. If the values are the same the rows are sorted by the year.

In [244]:
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

df["Desviacion"] = (df["Fuel Barrels/Year"] - df["Fuel Barrels/Year"].mean())/df["Fuel Barrels/Year"].std()

df = df.loc[df.Make == "Toyota"]
tabla1 = df[["Model","Year","Desviacion"]]

tabla1 = tabla1.iloc[0:9]

tabla1.values.tolist()

[['1-Ton Truck 2WD', 1985, -0.4283009048170594],
 ['1-Ton Truck 2WD', 1985, -0.4283009048170594],
 ['1-Ton Truck 2WD', 1986, -0.4283009048170594],
 ['1-Ton Truck 2WD', 1986, -0.733821019915985],
 ['1-Ton Truck 2WD', 1987, -0.4283009048170594],
 ['1-Ton Truck 2WD', 1987, -0.733821019915985],
 ['1-Ton Truck 2WD', 1988, -0.25262683863517804],
 ['1-Ton Truck 2WD', 1988, 0.15727931578921378],
 ['1-Ton Truck 2WD', 1989, -0.058460765486781426]]

In [212]:
print(lista)

['1-Ton Truck 2WD', '4Runner 2WD', '4Runner 4WD', '86', 'Avalon', 'Avalon Hybrid', 'Cab Chassis 2WD', 'Cab/Chassis', 'Cab/Chassis 2WD', 'Camry', 'Camry CNG', 'Camry Hybrid', 'Camry Hybrid LE', 'Camry Hybrid XLE', 'Camry Hybrid XLE/SE', 'Camry Solara', 'Camry Solara Convertible', 'Camry Wagon', 'Cargo Van 2WD', 'Cargo Van 4WD', 'Celica', 'Celica Convertible', 'Celica Supra', 'Corolla', 'Corolla All-Trac Wagon', 'Corolla FX', 'Corolla LE Eco', 'Corolla Sport', 'Corolla Wagon', 'Corolla iM', 'Cressida', 'Cressida Wagon', 'Echo', 'FJ Cruiser 2WD', 'FJ Cruiser 4WD', 'Highlander 2WD', 'Highlander 4WD', 'Highlander AWD', 'Highlander Hybrid 2WD', 'Highlander Hybrid 4WD', 'Highlander Hybrid 4WD LE Plus', 'Land Cruiser Wagon 4WD', 'MR2', 'Matrix', 'Matrix AWD', 'Paseo', 'Paseo Convertible', 'Previa', 'Previa All-Trac', 'Prius', 'Prius Eco', 'Prius Plug-in Hybrid', 'Prius c', 'Prius v', 'RAV4', 'RAV4 2WD', 'RAV4 4WD', 'RAV4 AWD', 'RAV4 Hybrid AWD', 'RAV4 LE/XLE', 'RAV4 Limited AWD', 'RAV4 Limited AWD/SE AWD', 'RAV4 Soft Top 2WD', 'RAV4 Soft Top 4WD', 'Sequoia 2WD', 'Sequoia 4WD', 'Sequoia 4WD FFV', 'Sienna 2WD', 'Sienna 4WD', 'Sienna AWD', 'Supra', 'T100 2WD', 'T100 4WD', 'Tacoma 2WD', 'Tacoma 4WD', 'Tacoma 4WD Double Cab', 'Tercel', 'Tercel EZ', 'Tercel Wagon', 'Tercel Wagon 2WD', 'Tercel Wagon 4WD', 'Truck 2WD', 'Truck 2WD/T100 2WD', 'Truck 4WD', 'Truck 4WD/T100 4WD', 'Tundra 2WD', 'Tundra 2WD FFV', 'Tundra 4WD', 'Tundra 4WD FFV', 'Van 2WD', 'Van 2WD (cargo)', 'Van 2WD (passenger)', 'Van 4WD', 'Van 4WD (cargo)', 'Van 4WD (passenger)', 'Venza', 'Venza 4WD', 'Venza AWD', 'Yaris', 'Yaris iA']

##Q5. Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.

##### Format: A 19X3 list, with the Year and Combined MPG being of type integer **and only the calculated difference is of type float**
##### **Note: The value for the first model should be 0.** It does not matter that there are gaps in the years, calculate with respect the previous model.

#####Example answer:



```
[[1986, 25, 0.0],
 [1987, 25, 0.0],
 [1988, 25, 0.0],
 [1989, 25, 0.0],
 [1990, 23, -2.0],
 [1991, 23, 0.0],
 [1992, 24, 1.0],
 [1993, 25, 1.0],
 [1994, 25, 0.0],
 [1995, 25, 0.0],
 [1996, 25, 0.0],
 [1997, 25, 0.0],
 [1998, 24, -1.0],
 [1999, 25, 1.0],
 [2000, 24, -1.0],
 [2001, 24, 0.0],
 [2002, 24, 0.0],
 [2004, 24, 0.0],
 [2006, 24, 0.0]]
```

In [222]:
########## Q5
#Your code here
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

Tabla2 = df.loc[(df.Model == "Golf") & (df.Transmission == "Manual 5-spd") & (df["Fuel Type"] == "Regular")]
Tabla2["Cambio"] = Tabla2["Combined MPG"].diff()
Tabla2['Cambio'] =Tabla2['Cambio'].fillna(0)
Tabla2 =Tabla2[["Year","Combined MPG","Cambio"]]

Tabla2.values.tolist()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

[[1986.0, 26.0, 0.0],
 [1987.0, 26.0, 0.0],
 [1988.0, 25.0, -1.0],
 [1989.0, 25.0, 0.0],
 [1999.0, 24.0, -1.0],
 [2000.0, 24.0, 0.0],
 [2001.0, 24.0, 0.0],
 [2002.0, 24.0, 0.0],
 [2003.0, 24.0, 0.0],
 [2004.0, 24.0, 0.0],
 [2005.0, 24.0, 0.0],
 [2006.0, 24.0, 0.0],
 [2010.0, 25.0, 1.0],
 [2011.0, 26.0, 1.0],
 [2012.0, 26.0, 0.0],
 [2013.0, 26.0, 0.0],
 [2015.0, 30.0, 4.0],
 [2016.0, 30.0, 0.0],
 [2017.0, 29.0, -1.0]]

##Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda

#####Format: A 5X6 list with the first element of each row being the Make of the cars and the following five values being floats sorted in ascending order. The Makes should appear in order listed in the question starting with Toyota and ending with Honda (see example).

#####Example answer:

```
[['Toyota', 100.0, 140.0, 140.0, 150.0, 150.0],
 ['Ford',
  100.025641025641,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575],
 ['Volkswagen', 139.0, 154.0, 166.5, 166.5, 166.5],
 ['Nissan', 122.0, 122.0, 122.0, 122.0, 160.0],
 ['Honda', 100.0, 100.0, 100.0, 100.0, 123.91684618442447]]
```

In [232]:
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)
listaC02 = list()
Marca = ("Toyota", "Ford", "Volkswagen", "Nissan", "Honda")
df.sort_values(by=['CO2 Emission Grams/Mile'], inplace=True) 
df1 = pd.DataFrame(columns=Marca)
for row in Marca:
 
  tabla1= df.loc[df.Make == row]
  tabla1 =tabla1["CO2 Emission Grams/Mile"].unique()
  datos = tabla1[0:5]
  listaC02.append(datos)
  
  df1[row] = datos


df1.values.tolist()

[["Toyota",133.0, 112.0, 200.0, 249.0, 130.0],
 ["Ford",158.0, 129.0, 261.025641025641, 254.0, 167.67924528301887],
 ["Volkswagen",170.0, 209.0, 267.8947368421053, 254.5, 170.90384615384616],
 [" Nissan",171.0, 210.0, 271.0, 255.0, 183.0],
 ["Honda",177.74, 211.0, 275.1351351351352, 257.0, 188.0]]

#  [Toyota   Ford  Volkswagen  Nissan       Honda
# 133.00  112.0  200.000000   249.0  130.000000
#  158.00  129.0  261.025641   254.0  167.679245
#  170.00  209.0  267.894737   254.5  170.903846
#  171.00  210.0  271.000000   255.0  183.000000
#  177.74  211.0  275.135135   257.0  188.000000

[[133.0, 112.0, 200.0, 249.0, 130.0],
 [158.0, 129.0, 261.025641025641, 254.0, 167.67924528301887],
 [170.0, 209.0, 267.8947368421053, 254.5, 170.90384615384616],
 [171.0, 210.0, 271.0, 255.0, 183.0],
 [177.74, 211.0, 275.1351351351352, 257.0, 188.0]]

##Q7. Form 7 groups of 5 years to calculated the median Combined MPG of each group. The first group is from 1984 to 1988, the second from 1989 to 1993 and so on. The last group will have years not appearing in the dataset.

#####Note: The groups ranges are inclusive on both sides, the first group starts with 1984 and cars from 1984 are included in it.
#####Format : A 7X2 list with the first element of each row being a tuple of two integers being the lower and uppper range of the year groups and the esecond element being the median Combined MPG of that group, a float number.

#####Example answer:


```
[[(1984, 1988), 11.0],
 [(1989, 1993), 10.0],
 [(1994, 1998), 10.0],
 [(1999, 2003), 14.0],
 [(2004, 2008), 13.0],
 [(2009, 2013), 14.0],
 [(2014, 2018), 15.0]]
```

In [236]:
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)
df = df[(df['Year'] >= 1984) & (df['Year'] <= 2018)]
period_length = 5 
start_year = 1984
end_year = 2018

year_range = end_year - start_year
modulo = year_range % period_length

if modulo == 0:
    final_start = end_year - period_length
else:
    final_start = end_year - modulo
final_end = end_year + 1

starts = np.arange(start_year, final_start, period_length).tolist()

tuples = [(start, start+period_length) for start in starts]

tuples.append(tuple([final_start, final_end]))
bins = pd.IntervalIndex.from_tuples(tuples, closed='left')

original_labels = list(bins.astype(str))
new_labels = ['{} - {}'.format(b.strip('[)').split(', ')[0], int(b.strip('[)').split(', ')[1])-1) for b in original_labels]
label_dict = dict(zip(original_labels, new_labels))





df['PERIOD'] = pd.cut(df['Year'], include_lowest=True, precision=0,bins= bins)
df['PERIOD'] = df['PERIOD'].astype("str")
df = df.replace(label_dict)
df = df.groupby('PERIOD').mean().reset_index().drop('Year', axis=1)
df = df[["PERIOD","Combined MPG"]]
df.values.tolist()

[['1984 - 1988', 19.230849764439014],
 ['1989 - 1993', 18.991274313761135],
 ['1994 - 1998', 19.225285171102662],
 ['1999 - 2003', 19.160808435852374],
 ['2004 - 2008', 19.07731595632265],
 ['2009 - 2013', 21.006466270534776],
 ['2014 - 2018', 23.064912280701755]]

##Test your answers

##### We provide you some tests to make sure your answer dictionary is in the correct format using unittest.
##### These tests are not meant to be comprehensive, you should review all your answers carefully.

In [246]:
import unittest

class TestAnswers(unittest.TestCase):
    def test_if_dict(self):
        self.assertIsInstance(answer_dict, dict)

    def test_keys(self):
        self.assertEqual(list(answer_dict.keys()), ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7'])

    def test_answers_types(self):
        types_values = [type(k) for k in answer_dict.values()]
        answer_types = [float, list, list, list, list, list, list]
        self.assertEqual(types_values, answer_types)

    def test_Q1(self):
        self.assertEqual(type(answer_dict['Q1']), float)

    def test_Q2_dim(self):
        self.assertEqual(np.array(answer_dict['Q2']).shape, (5,2))

    def test_Q2_types(self):
        dtype1 = type(answer_dict['Q2'][0][0])
        dtype2 = type(answer_dict['Q2'][0][1])
        self.assertEqual([dtype1, dtype2], [str, int])

    def test_Q3_types(self):
        q3_types = set([type(item) for item in answer_dict['Q3']])
        self.assertEqual(q3_types, {str})

    def test_Q4_dim(self):
        self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))

    def test_Q4_types(self):
        dtype1 = type(answer_dict['Q4'][0][0])
        dtype2 = type(answer_dict['Q4'][0][1])
        dtype3 = type(answer_dict['Q4'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [str, int, float])

    def test_Q5_dim(self):
        self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q5'][0][0])
        dtype2 = type(answer_dict['Q5'][0][1])
        dtype3 = type(answer_dict['Q5'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [int, int, float])

    def test_Q5_first_zero(self):
        self.assertEqual(answer_dict['Q5'][0][2], 0)


    def test_Q6_dim(self):
        self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q6'][0][0])
        dtype2 = type(answer_dict['Q6'][0][1])
        dtype3 = type(answer_dict['Q6'][0][2])
        dtype4 = type(answer_dict['Q6'][0][3])
        dtype5 = type(answer_dict['Q6'][0][4])
        dtype6 = type(answer_dict['Q6'][0][5])
        self.assertEqual([dtype1, dtype2, dtype3, dtype4, dtype5, dtype6], [str, float, float, float, float, float])

    def test_Q6_check_first_and_last_brand(self):
        first_brand = answer_dict['Q6'][0][0]
        last_brand = answer_dict['Q6'][4][0]

        self.assertEqual([first_brand, last_brand], ["Toyota", "Honda"])

    def test_Q7_dim(self):
        self.assertEqual(np.array(answer_dict['Q7'], dtype=object).shape, (7,2))

    def test_Q7_types(self):
        dtype1 = type(answer_dict['Q7'][0][0])
        dtype2 = type(answer_dict['Q7'][0][1])
        self.assertEqual([dtype1, dtype2], [tuple, float])

unittest.main(argv=[''], verbosity=2, exit=False)

test_Q1 (__main__.TestAnswers) ... ok
test_Q2_dim (__main__.TestAnswers) ... ok
test_Q2_types (__main__.TestAnswers) ... ok
test_Q3_types (__main__.TestAnswers) ... ok
test_Q4_dim (__main__.TestAnswers) ... ok
test_Q4_types (__main__.TestAnswers) ... ok
test_Q5_dim (__main__.TestAnswers) ... ok
test_Q5_first_zero (__main__.TestAnswers) ... ok
test_Q5_types (__main__.TestAnswers) ... ok
test_Q6_check_first_and_last_brand (__main__.TestAnswers) ... ok
test_Q6_dim (__main__.TestAnswers) ... ok
test_Q7_dim (__main__.TestAnswers) ... ok
test_Q7_types (__main__.TestAnswers) ... FAIL
test_answers_types (__main__.TestAnswers) ... ok
test_if_dict (__main__.TestAnswers) ... ok
test_keys (__main__.TestAnswers) ... ok

======================================================================
FAIL: test_Q7_types (__main__.TestAnswers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-246-ea466fca2033>", line 76, in test_Q7_types
    self.assertEqual([dtype1, dtype2], [tuple, float])
AssertionError: Lists differ: [<class 'str'>, <class 'float'>] != [<class 'tuple'>, <class 'float'>]

First differing element 0:
<class 'str'>
<class 'tuple'>

- [<class 'str'>, <class 'float'>]
?          - ^

+ [<class 'tuple'>, <class 'float'>]
?           ^^^^


----------------------------------------------------------------------
Ran 16 tests in 0.055s

FAILED (failures=1)

##Save your answers


##### First, take a moment to evaluate your answers and make sure you have not missed anything

##### Use the following code to save your answers in pickle format, change the filename using the following format:
##### FIRSTNAME_LASTNAME_answers.pkl
##### Example: Juan_Perez_answers.pkl

##### If you are using google colab you can find your file on the left side bar by clicking the folder icon inside the sample_data folder. Remember to upload the pickle file and the notebook to github and submit their URLs to the [google form](https://forms.gle/wWysZEMkoZsjB11Y7).

In [ ]:
answer_dict

In [247]:
import pickle

file_name = "Aldo_Gutierrez_answers.pkl"
path = ""

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)